@font-face {
	font-family: 'Pretendard';
	font-weight: 700;
	font-display: swap;
	src: url(../font/Pretendard-Bold.woff2) format('woff2'), url(../font/Pretendard-Bold.woff) format('woff');
}

@font-face {
	font-family: 'Pretendard';
	font-weight: 400;
	font-display: swap;
	src: url(../font/Pretendard-Regular.woff2) format('woff2'), url(../font/Pretendard-Regular.woff) format('woff');
}


/* -------------------- common ------------------------ */

/* 모든 본문에 나오는 태그를 감싸는 태그가 body, 그래서 body에 기본 글자스타일을 정의
글자스타일은 상속 됨 (글자스타일만!! 상속) */
body {
	font-family: 'Pretendard', sans-serif;
    /* 반드시 font.css에서 선언한 이름으로 불러야함.
    sans-serif는 만약 프리텐다드가 없으면 고딕체 아무거나 쓰라는 의미 */
    font-size: 17px;
    font-weight: 400;
    line-height: 1.5; /* 폰트 사이즈-굵기-행간-있을경우(+자간 letter-spacing) */
    color: #1d1d1d;
    word-break: keep-all;
}
.wrapper {
    width: 1260px; /* 내 디자인 파일 레이아웃 가이드 넓이 - 오타 내지 말것- */ 
    margin: 0 auto; /* 브라우저에 가운데 정렬을 의미 */
}
#wrap { /* 홈페이지 전체를 감싸는 요소!   - id 태그라 앞에 #을 붙인다. */
    min-width: 1320px;
    /* wrapper의 사이즈 + 좌우에 줄 최소여백 (가로스크롤바가 생겼을 때 콘텐츠 좌우여백)
    1260 + 30 + 30 = 1320px*/
}

/* ----------------default--------------------------- */
/* 태그 스타일의 초기화. reset 이라고도 부름 */
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit; /* inherrit - 브라우저에서 주는 스타일 취소 (=내가 준거나 써)*/
    font-size: inherit;
}
strong {
    font-weight: inherit;
}
em, address {
    font-style: normal; /* 글자의 기울임 취소 (normal 로 바르게 세웠다.) */
}
a {
    color: inherit; /* 글씨색 변경을 막음 */
    text-decoration: none; /* 밑줄 삭제 */
}
button {
    cursor: pointer; /* 마우스포인터 손바닥 생성 */
    font-size: inherit;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: inherit; /* butten 태그는 상속을 안 받아서 일일이 입력해줘야함 */
    border: none; /* 테두리 삭제. border : 0; 으로 대체 가능!!  헷갈릴 경우 개발자모드에서 눌러보자*/
    background-color: transparent; /* 트랜스패런트 : 배경색 투명 */
    /* ㄴbackground: none; 으로 대체 가능 / 배경에 있는 거 다 취소하기 (삭제 개념이라 transparent 보다 좀 더 강함)*/
}
* { /* 와일드카드는 상속의 우선이 제일 밀림 */
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* 높이+넓이를 준 경우, 바뀌지 않도록 유지 시켜주는 코드. flex는 적용 안되나봐... */
}
li {
    list-style: none; /* li 앞에 동그라미 삭제시켜주는 코드 */
}
/* ------------------------- 초기화 end -----------------------------*/

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    padding: 0 30px;
}
header .logo {
    margin: 31px 0 0 0;
}
header .inner {
    display: flex;
    align-items: center;
}
header .inner .gnb ul {
    display: flex;
}
header .inner .gnb ul li a {
    display: block;
    font-size: 23px;
    font-weight: 700;
    line-height: 100px; /* 행간으로 헤더와 높이를 맞추기!! */
    color: #1d1d1d;
    padding: 0 32px;
}
header .inner .shop {
    font-size: 20px;
    font-weight: 700;
    color: #1EB159;
    border: 1px solid #1EB159;
    border-radius: 29px;
    padding: 8px 39px;
    margin: 0 0 0 50px;
}
