* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    font-family: '맑은 고딕', '돋움';
    font-size: 15px;
    color: #333;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    z-index: 100;
    height: 100px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

header .logo {
    padding-top: 25px;
}

header .gnb .depth1 {
    display: flex;
}

header .gnb .depth1 > li {
    position: relative;
    width: 175px;
    text-align: center;
}

header .gnb .depth1 > li > a {
    display: block;
    font-size: 22px;
    font-weight: 700;
    line-height: 100px;
}

header .gnb .depth1 > li:hover > a {
    color: #0066ad;
} 

/****** 마우스 오버시 2차메뉴 보이게*****/

header .gnb .depth1 > li.over > .depth2 {
    display: block;
}

header .gnb .depth2 {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;
    display: none;
}

header .gnb .depth2 > li > a {
    display: block;
    line-height: 45px;
    background-color: #0066ad;
    color: #fff;
}

header .gnb .depth2 > li > a:hover {
    background-color: #30a3f3;
}





.visual {
    height: 300px;
    overflow: hidden;
}





.container {
    display: flex;
    justify-content: space-between;
    height: 200px;
    padding-top: 20px;
}


.bbs {
    width: 400px;
    background-color: violet;
}

.bbs .tap {
    display: flex;
}

.bbs .tap > li > button {
    background-color: #ededed;
    font-size: 20px;
    border: 0;
    padding: 5px 10px;
}

.bbs .tap > li.active > button {
    background-color: #0066ad;
    color: #fff;
    font-weight: 700;
}

.bbs .detail {
    display: none;
}

.banner {
    width: 380px;
    background-color: bisque;
}

.link {
    width: 380px;
    background-color: burlywood;
}

footer {
    height: 100px;
}