* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: '맑은 고딕', '돋움';
    font-size: 15px;
    color: #333;
    background-color: #fff;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    z-index: 100;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header .gnb > ul.depth1 {
    display: flex;
    text-align: center;
}

header .gnb > ul.depth1 > li {
    position: relative;
}

header .gnb > ul.depth1 > li > a {
    display: block;
    font-size: 20px;
    font-weight: 700;
    line-height: 100px;
    height: 100px;
    color: #1d1d1d;
    width: 150px;
}

header .gnb > ul.depth1 > li:hover > a {
    color: #0066ad;
}

header .gnb > ul.depth1 > li > ul.depth2 {
    position: absolute;
    left: 0;
    top: 100px;
    width: 100%;

    display: none;
}

header .gnb > ul.depth1 > li.over > ul.depth2 {
    display: block;
}


header .gnb > ul.depth1 > li > ul.depth2 > li > a {
    display: block;
    padding: 15px 0;
    background-color: #0066ad;
    color: #fff;
}

header .gnb > ul.depth1 > li > ul.depth2 > li > a:hover {
    background-color: #30a3f3;
}

.slide {
    height: 300px;
    position: relative;
}

.slide ul li {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0.5;
    transition: 0.5s;
}

.slide ul li.active {
    z-index: 10;
    opacity: 1;
}

.contents {
    height: 200px;
    display: flex;
    justify-content: space-between;
}

.contents .news {
    width: 400px;
}

.contents .news > ul {
    display: flex;
    gap: 10px;
    position: relative;
}

.contents .news > ul > li > button {
    background-color: #ccc;
    color: #333;
    border: 0;
    padding: 5px 10px;
    font-size: 18px;
}

.contents .news > ul > li.active > button {
    font-weight: 700;
    color: #fff;
    background-color: #0066ad;
}

.contents .news > ul > li > .detail {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    display: none;
}

.contents .news > ul > li.active > .detail {
    display: block;
}

.contents .news > ul > li.notice > .detail > ul > li > a {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    border-bottom: 1px solid #ccc;
}

.contents .news > ul > li.notice > .detail > ul > li > a:hover {
    color: #0066ad;
    font-weight: 700;
}

.contents .news > ul > li.notice > .detail > ul > li > a > strong {
    font-weight: 400;
}

.contents .news > ul > li.gallery > .detail > ul {
    display: flex;
    justify-content: space-around;
}

.contents .news > ul > li.gallery > .detail > ul > li > a:hover {
    opacity: 0.5;
}

.layer_popup {
    z-index: 150;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 40%;
    background-color: #eeeeee;
    border: 1px solid #333;
    padding: 50px 30px;

    display: none;
}

.layer_popup h2 {
    font-size: 20px;
    font-weight: 700;
    color: #1d1d1d;
    margin: 0 0 15px 0;
}

.layer_popup p {
    margin-bottom: 30px;
}

.layer_popup .close button{
    padding: 5px 10px;
}





.contents .banner {
    width: 380px;
    background-color: antiquewhite;
}

.contents .link {
    width: 380px;
    background-color: aqua;
}